<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <title>RSY Hospital</title>
</head>
<body >
    <h1 class="heading">Updating Doctor !</h1>
    
    <form action="/SubmitDoctor" method="post" class="form1">
        <label for="name">Name:</label>
		<input type="text" value="<%= data.name%>" name="name" class="input1"><br>
        <label for="number">Phone Number:</label>
		<input type="number" value="<%= data.number%>" name="number" class="input1"><br>
        <label for="city">City:</label>
		<input type="text" value="<%= data.city%>" name="city" class="input1"><br>
        <label for="symtoms">Specialization:</label>
        <input type="text" value="<%= data.symtoms%>" name="symtoms" id="" class="input1"><br>
        <label for="symtoms">Department Name:</label>
        <input type="text" value="<%= data.department%>" name="department" id="" class="input1"><br>

        <label for="earning">Earning:</label>
		<input type="text" value="<%= data.earning%>" name="earning" class="input1" readonly><br><br>
		<button style="padding:10px; margin:20px;" type="submit" class="button1">Add</button><br>
	</form>

    <form action="/" method="get">
        <button style="margin:20px;padding:10px;" type="submit">Return</button>
    </form>
</body>
</html>